# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log
npm-debug.log*

# Node / pnpm (por si en el futuro se añade tooling)
node_modules/
.pnpm-store/
dist/
build/

# Env
.env
.env.local

# Temp
*.tmp
*.bak
